

.hidden-container{
    display: grid;
}
.hidden-container:active +span {
    display: inline;
    
}

.hidden{
    display: none;

}

button{
    width:100px;
    height: 20px;
    margin-left: 0.4em;
}

.container{
    display: flex;
}