

.hidden-container:active .hidden {
    display: inline;
    
}

.hidden-container:active .active {
    display: none;

}

.hidden{
    display: none;

}

.active{
    display: inline;
}

button{
    width:100px;
    height: 20px;
}